In [1]:
#import os
import json
import string
import pandas as pd
#import matplotlib.pyplot as plt
#import seaborn as sns
import warnings

%matplotlib inline
warnings.filterwarnings("ignore")

In [2]:
#count = len(open('data/apolices.json').readlines())
#count
versao='31'

In [3]:
data = []
contador = 0

with open('data/apolices_'+versao+'.json') as f:
    for line in f:
        try:
            if contador > 200000: break
            line = line.replace(':""', ':"0"')
            data.append(json.loads(line))
            contador = contador + 1
        except:
            contador = contador + 1
            continue

In [4]:
#contador

In [5]:
#json_folder_path = os.path.join("D","\GincanaIA","data")
#json_files = [ x for x in os.listdir(json_folder_path) if x.endswith("json") ]
#for json_file in json_files:
#    json_file_path = os.path.join(json_folder_path, json_file)
#    with open (json_file_path, "r") as f:
#        for line in f:
#            try:
#                if contador > 300000: break
#                line = line.replace(':""', ':"0"')
#                data.append(json.loads(line))
#                contador = contador + 1
#            except:
#                contador = contador + 1
#                continue
#    break

In [6]:
dados = pd.DataFrame.from_dict(data)
dados.head(10)

,codigoQtdRegistroAbamdoc,codigoQtdRegistroAbbmItem,dadosPrevios,propostaVO,status
0,0,1,{'retornoDadosPrevios': {'apolice': {'codigoEm...,"{'autoMaisRe': None, 'numeroDigitoEndosso': '0...",9
1,1,1,{'retornoDadosPrevios': {'apolice': {'codigoEm...,"{'autoMaisRe': None, 'numeroDigitoEndosso': '0...",19
2,1,1,{'retornoDadosPrevios': {'apolice': {'codigoEm...,"{'autoMaisRe': None, 'numeroDigitoEndosso': '0...",19
3,1,1,{'retornoDadosPrevios': {'apolice': {'codigoEm...,"{'autoMaisRe': None, 'numeroDigitoEndosso': '0...",19
4,1,1,{'retornoDadosPrevios': {'apolice': {'codigoEm...,"{'autoMaisRe': None, 'numeroDigitoEndosso': '0...",19
5,1,1,{'retornoDadosPrevios': {'apolice': {'codigoEm...,"{'autoMaisRe': None, 'numeroDigitoEndosso': '0...",19
6,1,1,{'retornoDadosPrevios': {'apolice': {'codigoEm...,"{'autoMaisRe': None, 'numeroDigitoEndosso': '0...",19
7,1,1,{'retornoDadosPrevios': {'apolice': {'codigoEm...,"{'autoMaisRe': None, 'numeroDigitoEndosso': '0...",19
8,1,1,{'retornoDadosPrevios': {'apolice': {'codigoEm...,"{'autoMaisRe': None, 'numeroDigitoEndosso': '0...",19
9,1,1,{'retornoDadosPrevios': {'apolice': {'codigoEm...,"{'autoMaisRe': None, 'numeroDigitoEndosso': '0...",19

In [7]:
#dados['dadosPrevios'][7120]
#dados.info()

In [8]:
dadospropostaVO = dados['propostaVO'].to_json()
dadospropostaVO_df = pd.read_json(dadospropostaVO, orient='index')
dadospropostaVO_df['segurado'].head(5)

0    {'idade': 52, 'flagCondutorPerfilJovem': None,...
1    {'idade': 52, 'flagCondutorPerfilJovem': None,...
2    {'idade': 72, 'flagCondutorPerfilJovem': None,...
3    {'idade': 52, 'flagCondutorPerfilJovem': None,...
4    {'idade': 49, 'flagCondutorPerfilJovem': None,...
Name: segurado, dtype: object

In [9]:
itensSegurado_df = dadospropostaVO_df['itens'].map(lambda x: x[0]['segurado'])
dadosseguradoItemSegVO_df = pd.DataFrame.from_dict(itensSegurado_df)

dadosseguradoVO = dadosseguradoItemSegVO_df['itens'].to_json()
dadosseguradoVO_df = pd.read_json(dadosseguradoVO, orient='index')
dadosseguradoVO_df.head(5)

,anosFidelidadeCliente,codigoAtividadeNegocio,codigoAtividadeProfissional,codigoEstadoCivil,codigoIndicadorPEP,complementoAtividadeProfissional,dataExpedicao,dataNascimento,dataValidade,digitoCpfCgcPessoaPoliticamenteExposta,...,setTipoEnvioApolice,setTipoEnvioEmailCorretor,setTipoPessoaSegurado,setUf,sexoSegurado,tipoDocumento,tipoEnvioApolice,tipoEnvioEmailCorretor,tipoPessoaSegurado,uf
0,6,NaN,143.0,2.0,2.0,NaN,1.325383e+12,-7.826760e+10,NaN,0.0,...,0,0,1,0,M,1,NaN,NaN,F,NaN
1,6,NaN,143.0,2.0,2.0,NaN,1.325383e+12,-7.826760e+10,NaN,0.0,...,0,0,1,0,M,1,NaN,NaN,F,NaN
2,5,NaN,403.0,3.0,2.0,NaN,1.286248e+12,-7.160724e+11,NaN,0.0,...,0,0,1,0,M,1,NaN,NaN,F,NaN
3,9,NaN,1204.0,2.0,2.0,NaN,9.764136e+11,-9.278640e+10,NaN,0.0,...,0,0,1,0,F,1,NaN,NaN,F,NaN
4,6,NaN,1204.0,2.0,2.0,NaN,9.494568e+11,1.737720e+10,NaN,0.0,...,0,0,1,0,M,1,NaN,NaN,F,NaN

In [10]:
dadosEnd = dadospropostaVO_df['enderecos'].map(lambda x: x[0])

In [11]:
dadosseguradoEndVO = dadosEnd.to_json()
dadosseguradoEndVO_df = pd.read_json(dadosseguradoEndVO, orient='index')
dadosseguradoEndVO_df.head(5)

,bairro,cep,cidade,codigoDdd,complemento,complementoCep,descricaoLogradouro,email,estado,finalidadeEndereco,...,setDescricaoLogradouro,setEmail,setEstado,setFinalidadeEndereco,setFlagTipoEnderecoInformado,setNumero,setTextoNumeroTelefone,setTipoLogradouro,textoNumeroTelefone,tipoLogradouro
0,JARDIM ITANGUA,18056,SOROCABA,NaN,,80,RUA MARIA LUVIZOTTO CATTO,NaN,SP,1,...,1,0,1,1,1,1,0,1,NaN,R
1,JARDIM ITANGUA,18056,SOROCABA,NaN,,80,RUA MARIA LUVIZOTTO CATTO,NaN,SP,1,...,1,0,1,1,1,1,0,1,NaN,R
2,VILA PALMEIRAS,2933,SAO PAULO,NaN,CASA,50,ITAPORANGA,NaN,SP,1,...,1,0,1,1,1,1,0,1,NaN,R
3,INDEPENDENCIA,14076,RIBEIRAO PRETO,NaN,BL B 21 APTO 13,110,PARIS,NaN,SP,1,...,1,0,1,1,1,1,0,1,NaN,AV
4,OSVALDO REZENDE,38400,UBERLANDIA,NaN,None,389,ESTRELA DO SUL,NaN,MG,1,...,1,0,1,1,1,1,0,1,NaN,AV

In [12]:
itensVeiculo_df = dadospropostaVO_df['itens'].map(lambda x: x[0]['veiculo'])
dadosseguradoItemVO_df = pd.DataFrame.from_dict(itensVeiculo_df)

In [13]:
quantidadeUtilizacaoEstapar_df = dadospropostaVO_df['itens'].map(lambda x: x[0]['quantidadeUtilizacaoEstapar'])
codigoClasseLocalizacao_df = dadospropostaVO_df['itens'].map(lambda x: x[0]['codigoClasseLocalizacao'])
origem_df = dadospropostaVO_df[['origemPropostaPrincipal']]

codigoAgravamentoPremio_df = dadospropostaVO_df[['codigoAgravamentoPremio']]
quantidadeParcelas_df = dadospropostaVO_df[['quantidadeParcelas']]

In [14]:
quantidadeParcelas_df.values

array([[ 4],
       [ 4],
       [ 6],
       ...,
       [ 4],
       [ 4],
       [10]], dtype=int64)

In [15]:
dadosseguradoItemVeicVO = dadosseguradoItemVO_df['itens'].to_json()
itensVeiculo_df = pd.read_json(dadosseguradoItemVeicVO, orient='index')

itensVeiculoModeloVO = itensVeiculo_df['modelo'].to_json()
itensVeiculoModelo_df = pd.read_json(itensVeiculoModeloVO, orient='index')

itensVeiculoModelo_df.head(5)

,alturaVeiculo,codigoCorVeiculo,codigoFamiliaVeiculo,codigoGrupoEstatisticoVeiculo,codigoLinhaVeiculo,codigoMarcaVeiculo,codigoPorteVeiculo,codigoTipoMotor,codigoTipoVeiculo,comprimentoVeiculo,...,setNumeroValvulasVeiculo,setPesoVeiculo,setPotenciaMotorVeiculo,setProcedenciaVeiculo,setSiglaModeloVeiculo,setTaraVeiculo,setTipoInjecaoVeiculo,siglaModeloVeiculo,taraVeiculo,tipoInjecaoVeiculo
0,109.0,99,18.0,NaN,1794,11,2.0,14.0,61,197.0,...,0,1,1,1,1,0,1,CG 150 TITAN ESD MIX,NaN,2
1,109.0,99,18.0,NaN,1794,11,2.0,14.0,61,197.0,...,0,1,1,1,1,0,1,CG 150 TITAN ESD MIX,NaN,2
2,144.0,99,1.0,NaN,2480,2,0.0,78.0,171,415.0,...,1,1,1,1,1,1,1,CLASSIC SEDAN LS 1.0,1350.0,2
3,148.0,99,35.0,NaN,2773,2,0.0,106.0,191,393.0,...,1,1,1,1,1,1,1,ONIX HATCH LT 1.4 FLEX,1400.0,2
4,155.0,0,3.0,NaN,2499,4,0.0,89.0,61,377.0,...,1,1,1,1,1,1,1,NOVO UNO EVO WAY 1.4,1320.0,2

In [16]:
itensSegmento_df = dadospropostaVO_df['itens'].map(lambda x: x[0]['segmento'])
dadosseguradoItemSegVO_df = pd.DataFrame.from_dict(itensSegmento_df)

try: 
    dadosSegmentoVO = dadosseguradoItemSegVO_df['itens'].to_json()
    dadosSegmentoVO_df = pd.read_json(dadosSegmentoVO, orient='index')
    dadosSegmentoVO_df.head(5)
    
except: 
    dadosSegmentoVO_df = pd.DataFrame()
    pass

In [17]:
dadosApoliceVO = dadospropostaVO_df['apolice'].to_json()
dadosApoliceVO_df = pd.read_json(dadosApoliceVO, orient='index')
dadosApoliceVO_df.head(5)

,codigoEstrategia,codigoIRBSeguradora,codigoSucursal,codigoTipoRenovacao,dataEmissao,dataFinalVigencia,dataInicioVigencia,flagPerfilAntigo,flagPerfilRunOFF,numeroDigitoApolice,...,setDataEmissao,setDataFinalVigencia,setDataInicioVigencia,setFlagPerfilAntigo,setFlagPerfilRunOFF,setNumeroDigitoApolice,setPremioLiquidoPagoApolice,setSequencia,setStatusApolice,statusApolice
0,NaN,NaN,66,NaN,NaN,1551927600000,1520391600000,NaN,NaN,3432360,...,0,1,1,0,0,1,1,1,1,A
1,NaN,NaN,66,NaN,NaN,1551927600000,1520391600000,NaN,NaN,3432360,...,0,1,1,0,0,1,1,1,1,A
2,NaN,NaN,37,NaN,NaN,1551927600000,1520391600000,NaN,NaN,4006438,...,0,1,1,0,0,1,1,1,1,A
3,NaN,NaN,65,NaN,NaN,1551927600000,1520391600000,NaN,NaN,5088466,...,0,1,1,0,0,1,1,1,1,A
4,NaN,NaN,6,NaN,NaN,1551927600000,1520391600000,NaN,NaN,12253209,...,0,1,1,0,0,1,1,1,1,A

In [18]:
dadosFormaPagtoVO = dadospropostaVO_df['formaPagamento'].to_json()
dadosFormaPagtoVO_df = pd.read_json(dadosFormaPagtoVO, orient='index')
dadosFormaPagtoVO_df.head(5)

,campanhaCartao,codigoBanco,codigoFaixaRendaMensal,codigoFormaPagamento,codigoModalidadePagamento,cpfCorrentista,dataVencimentoCartaoCredito,diaVencimentoCartaoCredito,digitoContaCorrente,nomeMaeClienteCartaoCredito,...,setCodigoFormaPagamento,setCodigoModalidadePagamento,setCpfCorrentista,setDataVencimentoCartaoCredito,setDiaVencimentoCartaoCredito,setDigitoContaCorrente,setNomeMaeClienteCartaoCredito,setNumeroAgencia,setNumeroCartaoCredito,setNumeroContaCorrenteSemDigito
0,NaN,NaN,3.0,52,NaN,None,NaN,NaN,NaN,None,...,1,0,0,0,0,0,0,0,0,0
1,NaN,NaN,3.0,52,NaN,None,NaN,NaN,NaN,None,...,1,0,0,0,0,0,0,0,0,0
2,NaN,NaN,1.0,52,NaN,None,NaN,NaN,NaN,None,...,1,0,0,0,0,0,0,0,0,0
3,NaN,NaN,1.0,52,NaN,None,NaN,NaN,NaN,None,...,1,0,0,0,0,0,0,0,0,0
4,NaN,NaN,1.0,97,NaN,"{'digitoCPFCGC': 20, 'numeroCPFCGC': 783613546...",1.680232e+12,10.0,NaN,JERACI DE GODOI TAVARES ...,...,1,0,1,1,1,0,1,0,1,0

In [19]:
itensBonus_df = dadospropostaVO_df['itens'].map(lambda x: x[0]['bonus'])
dadosseguradoItemBonusVO_df = pd.DataFrame.from_dict(itensBonus_df)

dadosBonusVO = dadosseguradoItemBonusVO_df['itens'].to_json()
dadosBonusVO_df = pd.read_json(dadosBonusVO, orient='index')
dadosBonusVO_df.head(5)

,anoPedidoConfirmacaoBonus,codigoClasseBonus,codigoClasseBonusCompanhia,codigoDiferencaClasseBonus,codigoIdentificacaoApolice,cpfSeguradoOutraCia,dataRespostaConfirmacaoBonus,digitoCpfSeguradoOutraCia,flagCPFPergCompleto,flagConfirmacaoBonusRespondida,...,setNumeroPedidoConfirmacaoBonus,setNumeroSucursalSeguradoraCongenere,setOrdemCgcSeguradoOutraCia,setPedidoBonus,setSucursalOutraCia,setTemCgcSeguradoOutraCia,setTipoConfirmacaoBonus,sucursalOutraCia,temCgcSeguradoOutraCia,tipoConfirmacaoBonus
0,NaN,4,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,NaN,NaN,NaN
1,NaN,4,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,NaN,NaN,NaN
2,NaN,10,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,NaN,NaN,NaN
3,NaN,10,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,NaN,NaN,NaN
4,NaN,5,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,NaN,NaN,NaN

In [20]:
itensCasco_df = dadospropostaVO_df['itens'].map(lambda x: x[0]['casco'])
dadosseguradoItemCascoVO_df = pd.DataFrame.from_dict(itensCasco_df)

dadosCascoVO = dadosseguradoItemCascoVO_df['itens'].to_json()
dadosCascoVO_df = pd.read_json(dadosCascoVO, orient='index')
dadosCascoVO_df.head(5)

,agravamentoPossuirTerceiroEixo,agravamentoSubstituicaoMotor,codigoCategoriaTarifaria,codigoClasseFranquia,codigoCobertura,coeficienteImportanciaSeguradaMercado,coeficientePremio,dataReferenciaCalculo,fatorDepreciacao,indicadorExclusaoCobertura,...,setValorImportanciaSeguradaCasco,setValorPremioFinal,tabelaCotacao,taxaImportanciaSeguradaCalculo,tipoValorFinalPremio,valorDiferencaPremioAnual,valorFranquia,valorImportaciaSeguradaBlindagem,valorImportanciaSeguradaCasco,valorPremioFinal
0,NaN,NaN,30,3,1,0.9,NaN,1522465200000,NaN,NaN,...,1,1,NaN,26.84,NaN,628.1600,488,NaN,6284.7,565.340
1,NaN,NaN,30,3,1,0.9,NaN,1522465200000,NaN,NaN,...,1,1,NaN,26.84,NaN,628.1600,488,NaN,6284.7,565.340
2,NaN,NaN,10,3,1,1.0,NaN,1519786800000,NaN,NaN,...,1,1,NaN,7.82,NaN,932.5100,1074,NaN,22792.0,801.960
3,NaN,NaN,10,3,1,1.0,NaN,1522465200000,NaN,NaN,...,1,1,NaN,4.55,NaN,880.2400,1622,NaN,33786.0,836.230
4,NaN,NaN,10,3,1,1.0,NaN,1519786800000,NaN,NaN,...,1,1,NaN,5.20,NaN,961.6945,1619,NaN,27901.0,817.437

In [21]:
itensSinistroApolice_df = dadospropostaVO_df['itens'].map(lambda x: x[0]['sinistroApoliceVO'])
dadosseguradoItemSinistroVO_df = pd.DataFrame.from_dict(itensSinistroApolice_df)

dadosSinistroVO = dadosseguradoItemSinistroVO_df['itens'].to_json()
dadosSinistroVO_df = pd.read_json(dadosSinistroVO, orient='index')
dadosSinistroVO_df.head(5)

,frequenciaSinistroMercado,frequenciaSinistroPorto,possuiSinistroPeriodoIntergral,possuiSinistroPrimeiroPeriodo,possuiSinistroSegundoPeriodo,quantidadeSinistroAuto,quantidadeSinistroDM,quantidadeSinistrosAPP,quantidadeSinistrosAcessorios,quantidadeTotalSinistros,...,setValorSinistroAcessorios,setValorSinistroAuto,setValorSinistroDM,setValorTotalIndenizacao,sinistroRNS,valorSinistroAPP,valorSinistroAcessorios,valorSinistroAuto,valorSinistroDM,valorTotalIndenizacao
0,NaN,NaN,NaN,NaN,NaN,0,0,0,0,0,...,1,1,1,0,NaN,0,0.0,0.0,0.0,NaN
1,NaN,NaN,NaN,NaN,NaN,0,0,0,0,0,...,1,1,1,0,NaN,0,0.0,0.0,0.0,NaN
2,NaN,NaN,NaN,NaN,NaN,0,0,0,0,0,...,1,1,1,0,NaN,0,0.0,0.0,0.0,NaN
3,NaN,NaN,NaN,NaN,NaN,0,0,0,0,0,...,1,1,1,0,NaN,0,0.0,0.0,0.0,NaN
4,NaN,NaN,NaN,NaN,NaN,0,0,0,0,0,...,1,1,1,0,NaN,0,0.0,0.0,0.0,NaN

In [22]:
#Juntando os dados
df_final = pd.DataFrame()
df_final = dados[['status','codigoQtdRegistroAbamdoc','codigoQtdRegistroAbbmItem']]

df_final = df_final.join( dadosseguradoVO_df[['anosFidelidadeCliente','codigoEstadoCivil','sexoSegurado', 'idade','tipoPessoaSegurado','resgatePontos','numeroSegmentoCliente']] )
df_final = df_final.join( dadosseguradoEndVO_df[['cidade','estado']] )

df_final = df_final.join( itensVeiculo_df[['codigoCategoriaTarifaria','quantidadePortasVeiculo','codigoCombustivelVeiculo','codigoUsoVeiculo']] )
df_final = df_final.join( itensVeiculoModelo_df[['codigoFamiliaVeiculo','especieVeiculo','codigoTipoVeiculo','codigoMarcaVeiculo']] )

try: 
    df_final = df_final.join( dadosSegmentoVO_df[['numeroSegmentoDocumento']] )
except:
    df_final['numeroSegmentoDocumento'] = 8
    pass

df_final = df_final.join( dadosApoliceVO_df[['codigoSucursal','numeroDigitoApolice','premioLiquidoPagoApolice','dataFinalVigencia']] )
df_final['dataFinalVigencia'] = pd.to_datetime(df_final['dataFinalVigencia'], unit='ms')

df_final = df_final.join( dadosCascoVO_df[['valorFranquia','valorPremioFinal','valorDiferencaPremioAnual', 'valorImportanciaSeguradaCasco', 'codigoClasseFranquia']] )

df_final['quantidadeUtilizacaoEstapar'] = quantidadeUtilizacaoEstapar_df.values

df_final['codigoClasseLocalizacao'] = codigoClasseLocalizacao_df.values

df_final['origemProposta'] = origem_df.values

df_final['codigoAgravamentoPremio'] = codigoAgravamentoPremio_df.values
df_final['quantidadeParcelas'] = quantidadeParcelas_df.values

df_final = df_final.join( dadosSinistroVO_df[['quantidadeSinistroAuto','quantidadeTotalSinistros']] )

df_final = df_final.join( dadosBonusVO_df[['codigoClasseBonus']] )

df_final = df_final.join( dadosFormaPagtoVO_df[['codigoFormaPagamento','cpfCorrentista']] )

In [23]:
df_final.head(5)

,status,codigoQtdRegistroAbamdoc,codigoQtdRegistroAbbmItem,anosFidelidadeCliente,codigoEstadoCivil,sexoSegurado,idade,tipoPessoaSegurado,resgatePontos,numeroSegmentoCliente,...,quantidadeUtilizacaoEstapar,codigoClasseLocalizacao,origemProposta,codigoAgravamentoPremio,quantidadeParcelas,quantidadeSinistroAuto,quantidadeTotalSinistros,codigoClasseBonus,codigoFormaPagamento,cpfCorrentista
0,9,0,1,6,2.0,M,52,F,NaN,NaN,...,0,13,20,0,4,0,0,4,52,None
1,19,1,1,6,2.0,M,52,F,NaN,NaN,...,0,13,20,0,4,0,0,4,52,None
2,19,1,1,5,3.0,M,72,F,NaN,NaN,...,0,11,12,0,6,0,0,10,52,None
3,19,1,1,9,2.0,F,52,F,NaN,NaN,...,0,13,20,0,4,0,0,10,52,None
4,19,1,1,6,2.0,M,49,F,691.0,NaN,...,0,14,12,0,5,0,0,5,97,"{'digitoCPFCGC': 20, 'numeroCPFCGC': 783613546..."

In [24]:
#Valores NA
df_final['codigoEstadoCivil'] = df_final['codigoEstadoCivil'].fillna(value=0)
df_final['sexoSegurado'] = df_final['sexoSegurado'].fillna(value='N')
df_final['codigoCategoriaTarifaria'] = df_final['codigoCategoriaTarifaria'].fillna(value=10)
df_final['codigoUsoVeiculo'] = df_final['codigoUsoVeiculo'].fillna(value=1)
df_final['codigoFamiliaVeiculo'] = df_final['codigoFamiliaVeiculo'].fillna(value=1)

df_final['especieVeiculo'] = df_final['especieVeiculo'].fillna(value=1)
df_final['codigoTipoVeiculo'] = df_final['codigoTipoVeiculo'].fillna(value=1)
df_final['codigoMarcaVeiculo'] = df_final['codigoMarcaVeiculo'].fillna(value=1)

df_final['numeroSegmentoDocumento'] = df_final['numeroSegmentoDocumento'].fillna(value=8)

df_final['valorFranquia'] = df_final['valorFranquia'].fillna(value=0.0)
df_final['valorPremioFinal'] = df_final['valorPremioFinal'].fillna(value=0.0)
df_final['valorDiferencaPremioAnual'] = df_final['valorDiferencaPremioAnual'].fillna(value=0.0)
df_final['valorImportanciaSeguradaCasco'] = df_final['valorImportanciaSeguradaCasco'].fillna(value=0.0)

df_final['codigoFormaPagamento'] = df_final['codigoFormaPagamento'].fillna(value=62)
df_final['resgatePontos'] = df_final['resgatePontos'].fillna(value=0)
df_final['numeroSegmentoCliente'] = df_final['numeroSegmentoCliente'].fillna(value=1)

df_final['codigoClasseBonus'] = df_final['codigoClasseBonus'].fillna(value=0)
df_final['codigoAgravamentoPremio'] = df_final['codigoAgravamentoPremio'].fillna(value=0)
df_final['quantidadeParcelas'] = df_final['quantidadeParcelas'].fillna(value=1)
df_final['codigoClasseFranquia'] = df_final['codigoClasseFranquia'].fillna(value=1)

df_final['quantidadePortasVeiculo'] = df_final['quantidadePortasVeiculo'].fillna(value=4)
df_final['codigoCombustivelVeiculo'] = df_final['codigoCombustivelVeiculo'].fillna(value=8)

In [25]:
#Criacao de Colunas - Estacao do Ano e Tempo
df_final['Mes'] =  df_final['dataFinalVigencia'].dt.month
df_final['diaSemana'] = df_final['dataFinalVigencia'].dt.dayofweek

In [26]:
df_final['estacaoAno'] = df_final['Mes'].replace({1:1,2:1,3:2,4:2,5:2,6:3,7:3,8:3,9:4,10:4,11:4,12:1})

In [27]:
#Dados IDHM - Por Estado
df_idhm = pd.read_csv('data/atlas2013_uf_SP_semNA.csv', sep=";")
df_idhm.head(10)

,ANO,UF,UFN,ESPVIDA,FECTOT,MORT1,MORT5,RAZDEP,SOBRE40,SOBRE60,...,PIA1517,PIA18M,POP,POPT,I_ESCOLARIDADE,I_FREQ_PROP,IDHM,IDHM_E,IDHM_L,IDHM_R
0,1991,11,Rondônia,"63,11","3,55","42,41","54,06","74,36","84,85","68,68",...,NaN,NaN,1120423,1082709,"0,209","0,168","0,407","0,181","0,635","0,585"
1,1991,12,Acre,"63,72","4,86","41,85","50,63","90,47","85,84","69,37",...,NaN,NaN,412309,403101,"0,228","0,154","0,402","0,176","0,645","0,574"
2,1991,13,Amazonas,"63,67","4,50","50,36","61,49","86,67","84,36","69,86",...,NaN,NaN,2058501,1988579,"0,282","0,174","0,430","0,204","0,645","0,605"
3,1991,14,Roraima,"62,66","4,04","49,25","63,11","69,89","82,84","68,87",...,NaN,NaN,191382,172314,"0,270","0,226","0,459","0,240","0,628","0,643"
4,1991,15,Pará,"63,42","4,24","52,55","64,44","84,28","84,83","68,86",...,NaN,NaN,4863829,4798981,"0,237","0,175","0,413","0,194","0,640","0,567"
5,1991,16,Amapá,"65,05","4,72","43,72","54,31","92,24","86,60","72,03",...,NaN,NaN,284283,280598,"0,319","0,226","0,472","0,254","0,668","0,620"
6,1991,17,Tocantins,"60,32","3,96","63,65","83,26","83,41","80,99","64,42",...,NaN,NaN,904011,891048,"0,167","0,149","0,369","0,155","0,589","0,549"
7,1991,21,Maranhão,"58,04","4,74","81,97","106,43","93,40","80,50","59,97",...,NaN,NaN,4891092,4803826,"0,182","0,168","0,357","0,173","0,551","0,478"
8,1991,22,Piauí,"60,71","3,83","64,73","84,80","83,69","82,81","65,57",...,NaN,NaN,2551985,2519187,"0,183","0,155","0,362","0,164","0,595","0,488"
9,1991,23,Ceará,"61,76","3,72","63,13","82,70","78,61","83,62","67,63",...,NaN,NaN,6286483,6255093,"0,210","0,201","0,405","0,204","0,613","0,532"

In [28]:
df_final['estado'] = df_final['estado'].map(lambda x: x.upper())
df_final['codigoIBGEUF'] = df_final['estado'].replace({'RO':11, 'AC':12, 'AM':13, 'RR':14, 'PA':15, 'AP':16,'TO':17,'MA':21,'PI':22,'CE':23,'RN':24,'PB':25,'PE':26,'AL':27,'SE':28,'BA':29,'MG':31,'ES':32,'RJ':33,'SP':35,'PR':41,'SC':42,'RS':43,'MS':50,'MT':51,'GO':52,'DF':53})

In [29]:
df_final['codigoIBGEUF'].value_counts()

35    2231
43     201
31     181
33     153
29     122
41     108
42      93
52      89
23      70
53      68
26      59
32      54
15      54
24      35
28      28
50      24
25      24
22      15
51      13
21      13
27      12
13       7
11       4
12       3
17       2
16       1
14       1
Name: codigoIBGEUF, dtype: int64

In [30]:
df_final_2 = pd.merge(df_final, df_idhm, how='left', left_on=['codigoIBGEUF'], right_on=['UF'])

In [31]:
df_final = df_final.join( df_final_2[['IDHM','IDHM_E','IDHM_L', 'IDHM_R','I_ESCOLARIDADE']] )

In [32]:
#Dados IDHM - Por Estado
df_valores = pd.read_csv('data/valores_pagos.csv', sep=",")
df_valores.head(10)

   succod    numapol  premioPago  test
0       1  111083164     4204.44   NaN
1       1  111083202     7579.66   NaN
2       1  111093607     2517.07   NaN
3       1  111090713     2160.53   NaN
4       1  111105362     1451.17   NaN
5       4    8531256     5301.72   NaN
6       1  111163893     1019.71   NaN
7       1  111025814     1275.38   NaN
8       1  111085663      591.93   NaN
9       1  111124227     1554.19   NaN

In [33]:
df_final_2 = pd.merge(df_final, df_valores, how='left', left_on=['codigoSucursal','numeroDigitoApolice'], right_on=['succod','numapol'])
df_final['valorPremioPagoAtual'] = df_final_2[['premioPago']] 
df_final.head(10)

,status,codigoQtdRegistroAbamdoc,codigoQtdRegistroAbbmItem,anosFidelidadeCliente,codigoEstadoCivil,sexoSegurado,idade,tipoPessoaSegurado,resgatePontos,numeroSegmentoCliente,...,Mes,diaSemana,estacaoAno,codigoIBGEUF,IDHM,IDHM_E,IDHM_L,IDHM_R,I_ESCOLARIDADE,valorPremioPagoAtual
0,9,0,1,6,2.0,M,52,F,0.0,1.0,...,3,3,2,35,"0,578","0,363","0,730","0,729","0,365",574.53
1,19,1,1,6,2.0,M,52,F,0.0,1.0,...,3,3,2,35,"0,702","0,581","0,786","0,756","0,487",574.53
2,19,1,1,5,3.0,M,72,F,0.0,1.0,...,3,3,2,35,"0,783","0,719","0,845","0,789","0,629",944.71
3,19,1,1,9,2.0,F,52,F,0.0,1.0,...,3,3,2,35,"0,578","0,363","0,730","0,729","0,365",1098.65
4,19,1,1,6,2.0,M,49,F,691.0,1.0,...,3,3,2,31,"0,702","0,581","0,786","0,756","0,487",1448.57
5,19,1,1,13,2.0,F,47,F,0.0,1.0,...,3,3,2,35,"0,783","0,719","0,845","0,789","0,629",3793.01
6,19,1,1,13,2.0,M,85,F,0.0,1.0,...,3,3,2,35,"0,578","0,363","0,730","0,729","0,365",736.56
7,19,1,1,9,2.0,F,47,F,5541.0,1.0,...,3,3,2,43,"0,702","0,581","0,786","0,756","0,487",1689.06
8,19,1,1,4,5.0,F,49,F,0.0,1.0,...,3,3,2,35,"0,783","0,719","0,845","0,789","0,629",1633.93
9,19,1,1,2,2.0,F,36,F,0.0,1.0,...,3,3,2,35,"0,578","0,363","0,730","0,729","0,365",1675.84

In [34]:
media = df_final['valorPremioPagoAtual'].mean()
df_final['valorPremioPagoAtual'] = df_final['valorPremioPagoAtual'].fillna(value=media)
df_final.head(10)

,status,codigoQtdRegistroAbamdoc,codigoQtdRegistroAbbmItem,anosFidelidadeCliente,codigoEstadoCivil,sexoSegurado,idade,tipoPessoaSegurado,resgatePontos,numeroSegmentoCliente,...,Mes,diaSemana,estacaoAno,codigoIBGEUF,IDHM,IDHM_E,IDHM_L,IDHM_R,I_ESCOLARIDADE,valorPremioPagoAtual
0,9,0,1,6,2.0,M,52,F,0.0,1.0,...,3,3,2,35,"0,578","0,363","0,730","0,729","0,365",574.53
1,19,1,1,6,2.0,M,52,F,0.0,1.0,...,3,3,2,35,"0,702","0,581","0,786","0,756","0,487",574.53
2,19,1,1,5,3.0,M,72,F,0.0,1.0,...,3,3,2,35,"0,783","0,719","0,845","0,789","0,629",944.71
3,19,1,1,9,2.0,F,52,F,0.0,1.0,...,3,3,2,35,"0,578","0,363","0,730","0,729","0,365",1098.65
4,19,1,1,6,2.0,M,49,F,691.0,1.0,...,3,3,2,31,"0,702","0,581","0,786","0,756","0,487",1448.57
5,19,1,1,13,2.0,F,47,F,0.0,1.0,...,3,3,2,35,"0,783","0,719","0,845","0,789","0,629",3793.01
6,19,1,1,13,2.0,M,85,F,0.0,1.0,...,3,3,2,35,"0,578","0,363","0,730","0,729","0,365",736.56
7,19,1,1,9,2.0,F,47,F,5541.0,1.0,...,3,3,2,43,"0,702","0,581","0,786","0,756","0,487",1689.06
8,19,1,1,4,5.0,F,49,F,0.0,1.0,...,3,3,2,35,"0,783","0,719","0,845","0,789","0,629",1633.93
9,19,1,1,2,2.0,F,36,F,0.0,1.0,...,3,3,2,35,"0,578","0,363","0,730","0,729","0,365",1675.84

In [35]:
del df_final['numeroDigitoApolice']
del df_final['estado']
del df_final['cidade']

In [36]:
#del df_final['quantidadePortasVeiculo']
#del df_final['codigoCombustivelVeiculo']

In [37]:
df_final['codigoEstadoCivil'] = df_final['codigoEstadoCivil'].astype(int)
df_final['codigoCategoriaTarifaria'] = df_final['codigoCategoriaTarifaria'].astype(int)
df_final['codigoUsoVeiculo'] = df_final['codigoUsoVeiculo'].astype(int)
df_final['codigoFamiliaVeiculo'] = df_final['codigoFamiliaVeiculo'].astype(int)

df_final['especieVeiculo'] = df_final['especieVeiculo'].astype(int)
df_final['codigoTipoVeiculo'] = df_final['codigoTipoVeiculo'].astype(int)
df_final['codigoMarcaVeiculo'] = df_final['codigoMarcaVeiculo'].astype(int)
df_final['numeroSegmentoDocumento'] = df_final['numeroSegmentoDocumento'].astype(int)

df_final['quantidadePortasVeiculo'] = df_final['quantidadePortasVeiculo'].astype(int)
df_final['codigoCombustivelVeiculo'] = df_final['codigoCombustivelVeiculo'].astype(int)

df_final['numeroSegmentoCliente'] = df_final['numeroSegmentoCliente'].astype(int)
df_final['resgatePontos'] = df_final['resgatePontos'].astype(int)

df_final['codigoClasseBonus'] = df_final['codigoClasseBonus'].astype(int)

In [38]:
df_final.dtypes

status                                   object
codigoQtdRegistroAbamdoc                 object
codigoQtdRegistroAbbmItem                object
anosFidelidadeCliente                     int64
codigoEstadoCivil                         int32
sexoSegurado                             object
idade                                     int64
tipoPessoaSegurado                       object
resgatePontos                             int32
numeroSegmentoCliente                     int32
codigoCategoriaTarifaria                  int32
quantidadePortasVeiculo                   int32
codigoCombustivelVeiculo                  int32
codigoUsoVeiculo                          int32
codigoFamiliaVeiculo                      int32
especieVeiculo                            int32
codigoTipoVeiculo                         int32
codigoMarcaVeiculo                        int32
numeroSegmentoDocumento                   int32
codigoSucursal                            int64
premioLiquidoPagoApolice                float64
dataFinalVigencia                datetime64[ns]
valorFranquia                             int64
valorPremioFinal                        float64
valorDiferencaPremioAnual               float64
valorImportanciaSeguradaCasco           float64
codigoClasseFranquia                      int64
quantidadeUtilizacaoEstapar               int64
codigoClasseLocalizacao                   int64
origemProposta                            int64
codigoAgravamentoPremio                   int64
quantidadeParcelas                        int64
quantidadeSinistroAuto                    int64
quantidadeTotalSinistros                  int64
codigoClasseBonus                         int32
codigoFormaPagamento                      int64
cpfCorrentista                           object
Mes                                       int64
diaSemana                                 int64
estacaoAno                                int64
codigoIBGEUF                              int64
IDHM                                     object
IDHM_E                                   object
IDHM_L                                   object
IDHM_R                                   object
I_ESCOLARIDADE                           object
valorPremioPagoAtual                    float64
dtype: object

In [39]:
df_final['IDHM'] = df_final['IDHM'].map(lambda x: x.replace(",","."))
df_final['IDHM_E'] = df_final['IDHM_E'].map(lambda x: x.replace(",","."))
df_final['IDHM_L'] = df_final['IDHM_L'].map(lambda x: x.replace(",","."))
df_final['IDHM_R'] = df_final['IDHM_R'].map(lambda x: x.replace(",","."))
df_final['I_ESCOLARIDADE'] = df_final['I_ESCOLARIDADE'].map(lambda x: x.replace(",","."))

df_final['correntista'] = [1 if x != None else  0 for x in df_final['cpfCorrentista'] ]
df_final['resgatePontos'] = [1 if x > 0 else  0 for x in df_final['resgatePontos'] ]

In [40]:
df_final['IDHM'] = df_final['IDHM'].astype(float)
df_final['IDHM_E'] = df_final['IDHM_E'].astype(float)
df_final['IDHM_L'] = df_final['IDHM_L'].astype(float)
df_final['IDHM_R'] = df_final['IDHM_R'].astype(float)
df_final['I_ESCOLARIDADE'] = df_final['I_ESCOLARIDADE'].astype(float)

In [41]:
#Faixa de Idade
df_final['faixaIdade'] = [1 if ( x >=18 and x <=24 ) else 2 if ( x >=25 and x <=60 ) else 3 for x in df_final['idade'] ]
del df_final['idade']

#Sexo
df_final['sexoSegurado'] = [1 if x == 'F' else  0 for x in df_final['sexoSegurado'] ]
df_final['sexoSegurado'] = df_final['sexoSegurado'].astype(int)

#TipoPessoa
df_final['tipoPessoaSegurado'] = [1 if x == 'F' else  0 for x in df_final['tipoPessoaSegurado'] ]
df_final['tipoPessoaSegurado'] = df_final['tipoPessoaSegurado'].astype(int)

#Faixa de Preços
menor =  df_final['premioLiquidoPagoApolice'].describe()[4]
media =  df_final['premioLiquidoPagoApolice'].mean()
df_final['faixaPrecoLiquido'] = [1 if ( x >=0 and x <= menor) else 2 if ( x > menor and x <=media ) else 3 for x in df_final['premioLiquidoPagoApolice'] ]

#Faixa de Casco
menor =  df_final['valorFranquia'].describe()[4]
media =  df_final['valorFranquia'].mean()
df_final['faixaPrecoFranquia'] = [1 if ( x >=0 and x <= menor) else 2 if ( x > menor and x <=media ) else 3 for x in df_final['valorFranquia'] ]

menor =  df_final['valorPremioFinal'].describe()[4]
media =  df_final['valorPremioFinal'].mean()
df_final['faixaPrecoPremioFinal'] = [1 if ( x >=0 and x <= menor) else 2 if ( x > menor and x <=media ) else 3 for x in df_final['valorPremioFinal'] ]

In [42]:
#Diferenca de Premios
df_final['diferencaPremioAntNovo'] = df_final.valorPremioPagoAtual - df_final.premioLiquidoPagoApolice
menor =  df_final['diferencaPremioAntNovo'].describe()[4]
media =  df_final['diferencaPremioAntNovo'].mean()
df_final['faixaDiferencaValores'] = [1 if ( x <= menor) else 2 if ( x > menor and x <=media ) else 3 for x in df_final['diferencaPremioAntNovo'] ]

In [43]:
#Montando a variavel target
df_final['gerouSinistro'] = [1 if x > 0 else 0 for x in df_final['quantidadeSinistroAuto'] ]

In [44]:
del df_final['status']
del df_final['codigoQtdRegistroAbamdoc']
del df_final['codigoQtdRegistroAbbmItem']
del df_final['dataFinalVigencia']
del df_final['cpfCorrentista']
del df_final['quantidadeSinistroAuto']
del df_final['quantidadeTotalSinistros']

In [45]:
df_final.dtypes

anosFidelidadeCliente              int64
codigoEstadoCivil                  int32
sexoSegurado                       int32
tipoPessoaSegurado                 int32
resgatePontos                      int64
numeroSegmentoCliente              int32
codigoCategoriaTarifaria           int32
quantidadePortasVeiculo            int32
codigoCombustivelVeiculo           int32
codigoUsoVeiculo                   int32
codigoFamiliaVeiculo               int32
especieVeiculo                     int32
codigoTipoVeiculo                  int32
codigoMarcaVeiculo                 int32
numeroSegmentoDocumento            int32
codigoSucursal                     int64
premioLiquidoPagoApolice         float64
valorFranquia                      int64
valorPremioFinal                 float64
valorDiferencaPremioAnual        float64
valorImportanciaSeguradaCasco    float64
codigoClasseFranquia               int64
quantidadeUtilizacaoEstapar        int64
codigoClasseLocalizacao            int64
origemProposta                     int64
codigoAgravamentoPremio            int64
quantidadeParcelas                 int64
codigoClasseBonus                  int32
codigoFormaPagamento               int64
Mes                                int64
diaSemana                          int64
estacaoAno                         int64
codigoIBGEUF                       int64
IDHM                             float64
IDHM_E                           float64
IDHM_L                           float64
IDHM_R                           float64
I_ESCOLARIDADE                   float64
valorPremioPagoAtual             float64
correntista                        int64
faixaIdade                         int64
faixaPrecoLiquido                  int64
faixaPrecoFranquia                 int64
faixaPrecoPremioFinal              int64
diferencaPremioAntNovo           float64
faixaDiferencaValores              int64
gerouSinistro                      int64
dtype: object

In [46]:
df_final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3665 entries, 0 to 3664
Data columns (total 47 columns):
anosFidelidadeCliente            3665 non-null int64
codigoEstadoCivil                3665 non-null int32
sexoSegurado                     3665 non-null int32
tipoPessoaSegurado               3665 non-null int32
resgatePontos                    3665 non-null int64
numeroSegmentoCliente            3665 non-null int32
codigoCategoriaTarifaria         3665 non-null int32
quantidadePortasVeiculo          3665 non-null int32
codigoCombustivelVeiculo         3665 non-null int32
codigoUsoVeiculo                 3665 non-null int32
codigoFamiliaVeiculo             3665 non-null int32
especieVeiculo                   3665 non-null int32
codigoTipoVeiculo                3665 non-null int32
codigoMarcaVeiculo               3665 non-null int32
numeroSegmentoDocumento          3665 non-null int32
codigoSucursal                   3665 non-null int64
premioLiquidoPagoApolice         3665 non-null float64
valorFranquia                    3665 non-null int64
valorPremioFinal                 3665 non-null float64
valorDiferencaPremioAnual        3665 non-null float64
valorImportanciaSeguradaCasco    3665 non-null float64
codigoClasseFranquia             3665 non-null int64
quantidadeUtilizacaoEstapar      3665 non-null int64
codigoClasseLocalizacao          3665 non-null int64
origemProposta                   3665 non-null int64
codigoAgravamentoPremio          3665 non-null int64
quantidadeParcelas               3665 non-null int64
codigoClasseBonus                3665 non-null int32
codigoFormaPagamento             3665 non-null int64
Mes                              3665 non-null int64
diaSemana                        3665 non-null int64
estacaoAno                       3665 non-null int64
codigoIBGEUF                     3665 non-null int64
IDHM                             3665 non-null float64
IDHM_E                           3665 non-null float64
IDHM_L                           3665 non-null float64
IDHM_R                           3665 non-null float64
I_ESCOLARIDADE                   3665 non-null float64
valorPremioPagoAtual             3665 non-null float64
correntista                      3665 non-null int64
faixaIdade                       3665 non-null int64
faixaPrecoLiquido                3665 non-null int64
faixaPrecoFranquia               3665 non-null int64
faixaPrecoPremioFinal            3665 non-null int64
diferencaPremioAntNovo           3665 non-null float64
faixaDiferencaValores            3665 non-null int64
gerouSinistro                    3665 non-null int64
dtypes: float64(11), int32(14), int64(22)
memory usage: 1.1 MB

In [47]:
# Balanceamento de dados
df_final['gerouSinistro'].value_counts()

0    3521
1     144
Name: gerouSinistro, dtype: int64

In [48]:
df_parte0 = df_final[df_final.gerouSinistro == 0]
df_parte1 = df_final[df_final.gerouSinistro == 1]

df_parte0 = df_parte0.sample(df_final['gerouSinistro'].value_counts()[1])

df_balanceado = pd.concat([df_parte0, df_parte1])
df_balanceado['gerouSinistro'].value_counts()

1    144
0    144
Name: gerouSinistro, dtype: int64

In [49]:
df_balanceado.isna().any()[lambda x: x]

Series([], dtype: bool)

In [50]:
#Gravando os dados
#df_final.to_csv('data/gincanaV1.csv', header=True, index=False)
df_balanceado.to_csv('data/gincanaV'+versao+'_balanceado.csv', header=True, index=False)

In [51]:
#Box-Plots
#df_final.plot(kind = 'box', subplots = True, layout = (20,4), sharex = False, sharey = False, figsize=(15,10))
#plt.show()

In [52]:
#Dados de Correlação entre as variáveis
#df_final.corr()

In [53]:
# Distribuição da varíavel TARGET
#df_final.groupby('renovou').size()

In [54]:
# Distribuição da varíavel TARGET
#df_final.groupby('gerouSinistro').size()

In [55]:
# Separando os dados
#array = df_balanceado.values
#colunas = df_balanceado.columns[0:43]

# Separando o array em componentes de input (X) e output (Y)
#X = array[:,0:43]
#Y = array[:,43]
#Y_Sinistro = array[:,44]

#colunas

In [56]:
# Normalizando e padronizando os dados do dataframe

#from sklearn.preprocessing import MinMaxScaler
#from sklearn.preprocessing import StandardScaler

# Gerando a nova escala (normalizando os dados)
#scaler = MinMaxScaler(feature_range = (0, 1))
#rescaledX = scaler.fit_transform(X)

#Gerando padronização dos valores
#scalerP = StandardScaler().fit(rescaledX)
#standardX = scalerP.transform(rescaledX)

In [57]:
#Montando novo DataFrame com State, Churn e as colunas normalizadas na escala e Padronizadas
#df_new = pd.DataFrame (data=standardX, columns=colunas)
#df_new['renovou'] = df_balanceado['renovou']
#df_new['gerouSinistro'] = df_balanceado['gerouSinistro']

In [58]:
#Gravando os dados
#df_new.to_csv('data/gincanaV1_NormBalanceado.csv', header=True, index=False)

In [59]:
#df_new.corr()